import(methods)
import(BiocGenerics)


### ==========================================================================
### Export functions defined in base R and explicitly promoted to generics in
### the BiocGenerics package
### --------------------------------------------------------------------------

### Generics for functions defined in package base:
export(
    ## from R/append.R:
    append,

)

